.theme{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px;
    background-color: hsl(225, 6%, 13%);
    margin-bottom: 0px;
    color: white;
}

select {
 
  background-color: rgb(47, 47, 66);
  border: thin solid rgb(58, 58, 78);
  border-radius: 7px;
  display: inline-block;
  font: inherit;
  font-size: 12px;
  line-height: 1em;
  padding: 6px 10px;
color: rgb(177, 177, 177);


  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* arrows */

select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#cbcbcb 70%, transparent 72%);
  background-position:
    calc(100% - 11px) calc(1em ),
    calc(100% - 6px) calc(1em ),
    calc(100% - 5px) .6em;
  background-size:
    4px 4px,
    5px 5px,
    1em 1em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, rgb(196, 196, 196) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, rgb(197, 197, 197) 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 7px) 0.8em,
    calc(100% - 11px) 0.8em,
    calc(100% - 5px) .5em;
  background-size:
    4px 4px,
    4px 4px,
    1em 1em;
  background-repeat: no-repeat;
  border-color: rgb(88, 88, 101);
  outline: 0;
}