body {
  margin: 0;
 font-family: 'Heebo', sans-serif;
}

.top-pane {
  /* background-color: hsl(225, 6%, 25%); */
  background-color: hsl(225, 6%, 13%);
  border-top: 1px solid rgb(51, 51, 51);
}

.pane {
  height: 50vh;
  display: flex;
}

.bottom-pane {
  height: 50vh;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0rem 1rem 0.7rem;
  background-color: hsl(225, 6%, 13%);
  border-right: 1px solid rgb(51, 51, 51);
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: .5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(225, 6%, 13%);
  color: white;
  padding: 0rem .2rem .2rem .2rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  overflow: hidden;
}


.CodeMirror {
font-family: Arial, monospace;
font-size: 16px;
}

svg{
  width: 1.1em;
  height: 1.1em;
}

.title-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

.title{
  font-size: 17px;
}